@model Twitter.Models.Comment
<div class="add-comment">
@using(Ajax.BeginForm("addComment", "Home", new AjaxOptions { UpdateTargetId = "comments-"+Model.TweetId }))
{
    <span class="add-comment-text"><input type="text" value="" name="Text" id="Text" /></span>
    <span class="button"><input type="submit" value="Leave a Comment" /></span>
}
</div>