@model Twitter.Models.User

@using(Html.BeginForm("Logout", "Home", FormMethod.Post))
{
    @Html.ActionLink(@Model.Name, "Index", "Me")
    <span class="button"><input type="submit" value="Logout" /></span>
}
