
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Twitter</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <div class="page-header">
        <div class="header-content">
            <div class="logo">@Html.ActionLink("Twitter", "Index", "Home")</div>
            <div class="auth">
                @{ 
                    Html.RenderAction("AuthenticateSection", "Home");
                }
            </div>
        </div> 
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">

    </div>
</body>
</html>
