@model Twitter.Models.Tweet

@using (Html.BeginForm("CreateTweet", "User", FormMethod.Post, new { tweet = Model }))
{
    <div class="create-tweet">
        @Html.TextAreaFor(x => x.Text)
        <br />
        <div class="wtf">What is Happening?</div><span class="button"><input type="submit" value="Publish" /></span>
    </div>
}
