@model Twitter.Models.Hashtag
@{
    ViewBag.Title = "Index";
}
@{
    Html.RenderPartial("_serchHashtag");
}
@if(Model == null)
{
    <p class="error" align="center">Nothing was founded</p>
}
else
{
    <h2 align="center" class="error">@Model.Tag</h2>
    Html.RenderPartial("_tweetList", Model.Tweets);
}