*{
    padding: 0;
    margin: 0;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}
body{
    background-color: rgb(245, 248, 250);
    color: #808080;
    font-family: Arial,sans-serif;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 700px;
    
}

/*Header of the site*/
.page-header{
    height: 45px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px;
}
.header-content{
    width: 750px;
    margin: auto;
    height: inherit;
}
.logo{
    padding-top: 7px;
    width: 100px;
    float: left;
}
.logo a{
    font-size: 27px;
    font-style: normal;
    text-decoration: none;
    color:rgb(29, 161, 242) ;
}

.content{
    min-width: 500px;
    width: 750px;
    margin: auto;
    min-height: 700px;
    padding: 10px;

}
.auth{
    float: right;
    height: inherit;
    padding-top: 10px;
}
.auth input{
    width: 100px;
    margin-right: 10px;
    background-color: rgb(245, 248, 250);
    height: 22px;
    border-style: none;
    border: 1px solid rgb(195, 198, 200);
    border-radius: 3px 2px;
    padding-left: 5px;
    color: grey;
}
.auth a{
    text-decoration: none;
    color: #707070;
    font-size: 17px;
    padding-right: 5px;
}

.button input{
    background-color: rgb(29, 161, 242);
    color: #fafafa;
}
.auth label{
    margin-right: 5px;
}
.info{
    border: 3px solid white;
    width: 200px;
    float: left;
    min-height: 200px;
    padding: 20px;
    background-color: rgb(225, 232, 237);
    margin-right: 10px;
    border-radius: 7px 7px;
}
.info p,h2{
    margin-bottom: 10px;
}
.info input{
    font-size: 17px;
    background-color: rgb(29, 161, 242);
    height: 40px;
    width: 190px;
    margin: auto;
    margin-top: 15px;
    border-style:none;
    border: 1px solid rgb(195, 198, 200);
    border-radius: 3px 3px;
    color: #fafafa;
}
.tweetList{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.tweet{
    background-color: white;
    min-height: 100px;
    border: 1px solid rgb(195, 198, 200);
    border-radius: 4px 4px;
    margin-bottom: 3px;
}
.tweet a{
    text-decoration: none;
    color:rgb(29, 161, 242) ;
}
.tweet-header{
    height: 25px;
    padding-left: 40px;
    padding-top: 5px;
}
.tweet-text{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: black;
    font-size: 20px;
}
.signup-form{
    width: 300px;
    margin: auto;
    padding-left: 15px;
    margin-top: 100px;
}
.signup-form input{
    width: 300px;
    border: 1px solid rgb(195, 198, 200);
    border-radius: 2px 2px;
    height: 30px;
    padding-left: 5px;
    color: #808080;
    font-size: 17px;
}
.signup-btn input{
    height: 40px;
    color: #fafafa;
    width: 307px;
}
.follow-list{
    width: 405px;
    float: right;
    
}
.followers{
    width: 200px;
    float: left;
}
.followings{
    width: 200px;
    float: right;
}

.create-tweet{
    width: 700px;
    float: right;
    background-color: rgb(225, 232, 237);
    border-radius: 3px 3px;
    padding: 25px 25px;
    margin-top: 10px;

}
.create-tweet input{
    float: right;
    font-size: 17px;
    background-color: rgb(29, 161, 242);
    height: 40px;
    width: 190px;
    margin: auto;
    margin-top: 15px;
    border-style:none;
    border: 1px solid rgb(195, 198, 200);
    border-radius: 3px 3px;
    color: #fafafa;
}
.create-tweet textarea{
    width: 650px;
    resize: none;
    padding: 25px;
    font-size: 17px;
}
.wtf{
    float: left;
    width: 200px;
    font-size: 19px;
    padding-top: 25px;
}

.tweet-info{
    width: 70px;
    height: 20px;
    margin-left: 40px;
    padding-bottom: 5px;
}
.tweet img{
    margin-right: 5px;
}
.likes{
    width: 15px;
    float: right;
}
.search-hashtag{
    width: 510px;
    margin: auto;
    margin-top: 20px;
    height: 50px;
}
.search-hashtag span input{
    float: right;
    width: 100px;
}
.search-hashtag input{
    float: left;
    width: 380px;
    height: 35px;
    border-radius: 3px 3px;
    border: none;
}
.search-hashtag-textbox input{
    padding-left: 20px;
    font-size: 17px;
    border: 1px solid rgb(195, 198, 200);
    color: grey;
}
.error{
    font-size: 21px;
    margin-top: 20px;
}
.comments{
    padding-left: 100px;
    margin-top: 10px;
}
.comment{
    margin-bottom: 10px;
    min-height: 50px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(251, 254, 256);
    border: 1px solid rgb(195, 198, 200);
    border-radius: 3px 3px;
}
.comment-text{
    margin-top: 5px;
    color: #303030;
    font-size: 18px;
}
.comment-header a{
    text-decoration: none;
    color:rgb(29, 161, 242);
}
.add-comment{
    margin-bottom: 25px;
}
.add-comment input{
    height: 30px;
    border-radius: 3px 3px;
    border: none;
    width: 150px;
}
.add-comment-text input{
    border: 1px solid red;
    float: right;
    border: 1px solid rgb(195, 198, 200);
    width: 460px;
    padding-left: 20px;
    font-size: 16px;
}
.hash-list{
    width: 200px;
    float: right;
    margin-bottom: 20px;
}
.hash a{
    text-decoration: none;
    color:rgb(29, 161, 242);
}
.hash{
    margin-top: 5px;
}
.users-list{
    width: 300px;
    float: right;
}
.users-list a{
    text-decoration: none;
    color:rgb(29, 161, 242);
}
