@model IQueryable<Twitter.Models.User>
@{
    ViewBag.Title = "Index";
}


<h3>All Users:</h3>
<br />
@if (Model == null)
{
    <p>No registered users. Become the first!</p>
}
else{
    foreach(Twitter.Models.User user in Model)
    {
        <p>@Html.ActionLink(user.Name, "Index", "User", new { id = user.Id }, null)</p>
    }
}

