@model IQueryable<Twitter.Models.User>
@{
    ViewBag.Title = "Index";
}

<div class="users-list">
<h3>All Users:</h3>
@if (Model == null)
{
    <p>No registered users. Become the first!</p>
}
else{
    foreach(Twitter.Models.User user in Model)
    {
        <p>@Html.ActionLink(user.Name, "Index", "User", new { id = user.Id }, null)</p>
    }
}
    </div>
@{ 
    Html.RenderAction("PopularHashtags", "User");
}
<h3>Lates news</h3>
@{ 
    Html.RenderAction("News", "Home");
}

