@model Twitter.Models.User

<h2>@Model.Name</h2>
<br />
@{ 
    Html.RenderPartial("_followList", Model);
}
<br />
@{
    Html.RenderAction("CreateTweet", "User", new { id = Model.Id });
}
@{ 
    Html.RenderPartial("_tweetList", Model.Tweets);
}
